<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .field-error {
            border-color : #dc3545;
            color : #dc3545;
        }
    </style>
</head>
<body>
<h1>Add Item!!</h1>
<form th:action th:object="${item}" method="post">

    <div th:if="${errors?.containsKey('globalError')}">
        <p class="field-error" th:text="${errors['globalError']}">전체 오류 메세지</p>
    </div>


    <ul>
        <li>
            <label th:for="*{name}" th:text="#{label.item.name}">상품 명</label>
            <input type="text" th:field="*{name}"
                   th:class = "${errors?.containsKey('name')} ? 'field-error form-control' : 'form-control'"
                   class="" placeholder="상품 명을 입력해주세요">
            <div th:if="${errors?.containsKey('name')}" th:text="${errors['name']}" class="field-error">상품명 오류</div>
        </li>
        <li>
            <label th:for="*{price}" th:text="#{label.item.price}">가격</label>
            <input type="text" th:field="*{price}"
                   th:class = "${errors?.containsKey('price')} ? 'field-error form-control' : 'form-control'"
                   class="" placeholder="가격을 입력해주세요">
            <div th:if="${errors?.containsKey('price')}" th:text="${errors['price']}" class="field-error">가격 오류</div>
        </li>
        <li>
            <label th:for="*{stockQuantity}" th:text="#{label.item.quantity}">수량</label>
            <input type="text" th:field="*{stockQuantity}"
                   th:class = "${errors?.containsKey('quantity')} ? 'field-error form-control' : 'form-control'"
                   class="" placeholder="수량을 입력해주세요">
            <div th:if="${errors?.containsKey('quantity')}" th:text="${errors['quantity']}" class="field-error">수량 오류</div>
        </li>
        <li>
            <button type="submit" th:text="#{button.save}">저장</button>
        </li>
    </ul>
</form>
</body>
</html>