<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Find Item!</h1>

    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <h2 th:text="${item.id}">item id</h2>
    <h2 th:text="${item.name}">item name</h2>
    <h2 th:text="${item.price}">item price</h2>
    <h2 th:text="${item.stockQuantity}">item quantity</h2>
    <button onclick="location.href='item.html'" th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${item.id})}'|" th:text="#{page.updateItem}">수정</button>
</body>
</html>